@import "tailwindcss";

:root {
  --background: #000000; /* ดำลึกแบบ clean */
  --foreground: #c3d2d9; /* ขาวฟ้าอ่อนแบบ clean sci-fi */
  --accent: #00ffff; /* cyan เรืองแบบ hologram */

  --font-mono: var(--font-plex-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-plex-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #e0e0e0;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), monospace;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
}
@keyframes wave1 {
  0%,
  100% {
    height: 20%;
  }
  50% {
    height: 100%;
  }
}
@keyframes wave2 {
  0%,
  100% {
    height: 40%;
  }
  50% {
    height: 90%;
  }
}
@keyframes wave3 {
  0%,
  100% {
    height: 10%;
  }
  50% {
    height: 80%;
  }
}

.animate-wave1 {
  animation: wave1 1s infinite ease-in-out;
}
.animate-wave2 {
  animation: wave2 1s infinite ease-in-out;
}
.animate-wave3 {
  animation: wave3 1s infinite ease-in-out;
}
